body {
    background-color: #272727;
    color: bisque;
    margin: 0;
    
}

.container-fluid {
    margin: 0;
}

.broadway {
    font-family: broadway;
    font-weight: lighter;
}


.genre {
    margin-bottom: 40px;
}

.title {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

}

.card {
    width: 100%;
    margin-right: 20px;
}

.card-body {
    background-color: #747474;
}

.img-responsive {
    height: 400px;
    max-width: 400px;
}

.filter-nav {
    margin-bottom: 40px;
}

/* ################  BASEBALL related CSS  ################# */

.baseball {
    border: solid red 4px;
}

.baseball-nav {
    color: red;
}

.baseball-title {
    color: red;
    font-weight: lighter;
}


/* ################ FOOTBALL related CSS ###################### */

.football {
    border: solid #14a76c 4px;
}

.football-nav {
    color: #14a76c
}

.football-title {
    color: #14a76c
}

/* ################## BASKETBALL related CSS ###################### */

.basketball {
    border: solid #ff652f 4px;
}

.basketball-nav {
    color: #ff652f;
}

.basketball-title {
    color: #ff652f
}
/* #################### HOCKEY related CSS ###################### */

.hockey {
    border: solid #ffe400 4px;
}

.hockey-nav {
    color: #ffe400;
}

.hockey-title {
    color: #ffe400;
}

select {
    background-color: #272727;
    color: bisque;
}

.table-img {
    width: 80px;
    height: auto;
}